#footer{
	margin-top:50px;
	padding:30px;
	color:#fff;
	background:#444;
}
.navbar{
	margin-bottom:0px;
	border-radius:0px;
	font-size: 12px;
  padding:8px;
  background-color: #222222;
  a{
    color:#fff;
  }
}
.jumbotron{
	margin-top:0px;
	padding:100px;
	color:#fff;
	background:url(/images/banner-bg2.jpg) center;
	background-size:cover;

}
